<h1>All the Events:</h1>

<% if @events.any?() %>
	<ul>
	  <% @events.each do |event| %>
	  <li><p>Event Name:</p><a href="/events/<%= event.id()%>"><%= event.name() %></a><p>Number of Tickeks:</p><%= event.number_of_tickets() %><p>Event Description:</p><%= event.description() %> <p>Held on:</p><%= event.created_at() %></li>
	</ul>
	<% end %>

<% else %>
	<p>There are no events yet!!!</p>
<% end %>