<div class="row">
<div class="col-md-6">
<h1>All the Hosts:</h1>

<% if @hosts.any?() %>
    <ul>
      <% @hosts.each do |host| %>
      <li><p>Host Name:</p><a href="/hosts/<%= host.id()%>"><%= host.name() %></a><p>Tel:</p><%= host.Telephone() %><p>Email:</p><%= host.Email() %> <p>Created at:</p><%= host.created_at() %></li>
    </ul>
    <% end %>

<% else %>
    <p>There are no hosts yet!!!</p>
<% end %>
</div>

<div class="col-md-6">
<!DOCTYPE html>
<html>
<head>
  <title>Bryan Memeti</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--materialize-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <!--materialize-->

    <!--my links to bootstrap and CSS-->
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

<!-- Trigger/Open The Modal -->
<button id="myBtn" class="button btn">New Host</button></a>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form action="/hosts" method="post">
    <label for="name">Host's name:</label>
    <input id="name" name="name" type="text" class="rq-form-element" autofocus/>

    <label for="Telephone">Telephone:</label>
    <input id="Telephone" name="Telephone" type="number" class="rq-form-element" autofocus/>

    <label for="Email">Email:</label>
    <input id="Email" name="Email" type="email" class="rq-form-element" autofocus/>

    <button type="submit">Submit!</button>
</form>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>
</div>
<p><a href="/index"><button class="button btn"> HOME</button></a></p>
<p><a href="/events"><button class="button btn"> EVENTS</button></a></p>
<p><a href="/hosts"><button class="button btn"> HOSTS</button></a></p>
</div>
