<div class="host_details">
  <h3>Events
    <%= @host.name() %>
    is hosting:</h3>

  <% if @events.any?() %>
  <ul>
    <% @host.events().each() do |event| %>
    <li><%= event.name() %>
      <p>Tickets:</p><%= event.number_of_tickets() %>
      <p>Description:</p><%= event.description() %>
      <p>Going Down On:</p><%= event.created_at() %></li>
    <p>
      <a href="/events/<%= event.id() %>/edit">
        <button class="button button1">
          Edit
          <%= event.name() %>
          event</button>
      </a>
    </p>
    <% end %>
  </ul>
<% else %>
  <p><%= @host.name() %>
    has no Events yet!</p>
  <% end %>

  <p>
    <a href="/index">
      <button class="button button1">
        HOME</button>
    </a>
  </p>
  <p>
    <a href="/events">
      <button class="button button1">
        EVENTS</button>
    </a>
  </p>
  <p>
    <a href="/hosts">
      <button class="button button1">
        HOSTS</button>
    </a>
  </p>
</div>
