<h1>All the Users:</h1>

<% if @users.any?() %>
	<ul>
	  <% @users.each do |user| %>
	  <li><p>User Name:</p><a href="/users/<%= user.id()%>"><%= user.name() %></a><p>Tel:</p><%= user.Telephone() %><p>Email:</p><%= user.Email() %> <p>Created at:</p><%= user.created_at() %></li>
	</ul>
	<% end %>

<% else %>
	<p>There are no users yet!!!</p>
<% end %>