<!DOCTYPE html>
<html>
  <head>
    <title>Bryan Memeti</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--materialize-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <!--materialize-->

    <!--my links to bootstrap and CSS-->
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <div class="row details">
      <h1><%= @user.name() %></h1>
      <div class="col-md-6">
        <% if @user.events().any?() %>

        <h3>Events
          <%= @user.name() %>
          is attending:</h3>
        <ul>
          <% @user.events().each() do |event| %>
          <li><%= event.name() %>
            <p>Going Down On:</p><%= event.created_at() %></li>
          <% end %>
        </ul>
      <% else %>
        <p>
          <%= @user.name() %>
          has no Events yet!</p>
        <% end %>
      </div>

      <div class="col-md-6">
        <h3><%= @user.name() %>, Kindly Choose your Events:</h3>

        <% if @events.any?() %>
        <form action="/users/<%= @user.id %>" method="post">
          <input type="hidden" name="_method" value="patch">
          <% @events.each() do |event| %>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="event_ids[]" value="<%= event.id() %>" id="<%= event.id() %>">
              <label for="<%= event.id() %>"><%= event.name() %>
                <p>Going Down On:</p><%= event.created_at() %>
              </label>
            </div>
            <% end %>

            <button class="button button1" type="submit">Attend
              <%= @user.name() %></button>
          </form>
          <% end %>
        </div>
        <p>
          <a href="/index">
            <button class="button button1">
              HOME</button>
          </a>
        </p>
        <p>
          <a href="/events">
            <button class="button button1">
              EVENTS</button>
          </a>
        </p>
        <p>
          <a href="/hosts">
            <button class="button button1">
              HOSTS</button>
          </a>
        </p>
      </div>
    </body>
  </html>
